<!DOCTYPE html>
<html ng-app="memberApp"> 
<head>
  <title>Squeal</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

  <script text="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script text="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="app/main.js"></script>
</head>
<body> 

<div class="container">
<div class="page-header">
  <h1>Squeal <small>Local business reviews</small></h1>
</div>
<div class="row">
  <div class="col-md-3">
    <div ng-controller="MemberIndexCtrl">
      <h2><span class="label label-primary">Reviewers</span></h2>
      <div ng-repeat="member in members">
        <a class="btn btn-link" href="#/members/{{member._id}}/">{{ member.firstName + " " + member.lastName }}</a>
      </div>
    </div>
    <div ng-controller="BusinessIndexCtrl">
      <h2><span class="label label-success">Companies</span></h2>
      <div ng-repeat="name in names">
        <a class="btn btn-link" href="#/businesses/{{name}}/">{{name}}</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">

    <div ng-view>

  </div>

</div>

</div>

</body> 
</html>
