<div class="row">
<div ng-controller="MemberIndexCtrl">

  <div class="col-md-2">

    <h2>Reviewers</h2>
    <div ng-repeat="member in members">
      <a ng-click="query._id = member._id">{{ member.firstName + " " + member.lastName }}</a>
    </div>
    <!-- Search: <input ng-model="query._id"> -->

  </div>
  <div class="col-md-10">

    <table class="table table-hover">
      <tr>
        <th>firstName</th>
        <th>lastName</th>
        <th>screenName</th>
        <th>location</th>
      </tr>
      <tr ng-repeat="member in members | filter:query">
        <td>{{member.firstName}}</td>
        <td>{{member.lastName}}</td>
        <td>{{member.screenName}}</td>
        <td>{{member.location}}</td>
      </tr>
    </table>    

  </div>
</div>
