<h1>Member List</h1>

<div ng-controller="MemberIndexCtrl">

  <table class="table table-hover">
    <tr>
      <th>memberId</th>
      <th>firstName</th>
      <th>lastName</th>
      <th>screenName</th>
      <th>location</th>
    </tr>

    <tr ng-repeat="member in members">
      <td><a href="#/members/{{member._id}}">{{member._id}}</a></td>
      <td>{{member.firstName}}</td>
      <td>{{member.lastName}}</td>
      <td>{{member.screenName}}</td>
      <td>{{member.location}}</td>
    </tr>
  </table>

</div>
